body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #71ccd3;
   height: 50px;
   margin-bottom: 10px;
}

.navigation-wrapper {
   height: 200px;
   background-image: url(assets/craft-image.JPG);
   background-color: #86d1cf;
   color: #ffffff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 60px 100px;
}

.body {
   background-image: url(assets/craft-image.JPG);
   background-color: #71ccd3;
   /* background-attachment: fixed; */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
}

.header-styles {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1em;
}

.center-column {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 42px;
   width: 500px;
}

.center-column .logo {
   display: flex;
   justify-content: center;
}

.logo img {
   width: 216px;
   height: 100%;
   border-color: #71ccd3;
   border-width: 10px;
   border-style: solid;
}



.craft-picture {
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: -1;
  height: 1000px;
}

.portfolio-picture {
   position: relative;
   top: 0px;
   border-radius: 50%;
   z-index: 1;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    width: 70px;
    text-align: center;
    color: white;
}

.nav-link a {
   font-family: "Ubuntu Condensed", sans-serif;
   /* color: #ffffff; */
   text-decoration: none;
   transition: 0.5s;
}

.nav-link a:hover {
   color: #8586c9;
   letter-spacing: 2px;
}

.right-column {
   display: flex;
   align-items: center;
}

.icon {
  font-size: 2em;
}

.icon-mr {
  margin-right: 15px;
}

.icon-ml {
   margin-left: 15px;
}

.homepage {
   background-image: url(assets/IMG_4225\ \(1\).JPG);
   padding: 1000px;
   height: 300px;
   border-radius: 500%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   /* position: absolute; */
   /* left: 0px; */
   /* top: 100px;
   z-index: -1; */
}

.top-heading {
   padding: 1px 20px;
   background-color: #fa7ab3;
   color: #ffffff;
   width: 290px;
   border-radius: 20px;
}

.bottom-heading {
   background-color: #9685c9;
    color: #ffffff;
    width: 200px;
    margin-top: 10px;
    padding: 1px 5px;
    border-radius: 20px;
    text-align: center;
}

.features-section {
   height: 200px;
   background-image: url(assets/rainbow.jpg);
   background-color: #41ecec;
   border-top: 10px solid white;
   color: #ffffff;
   display: flex;
   height: 300px;
   justify-content: center;
   align-items: center;
   font-family: 'Ubuntu Condensed', sans-serif;
   box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0,58);

}

.columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    color: #eb76ac;
}

.column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px sold transparent;
    border-radius: 10px;
    transition: 1s;
    
}

.column:hover {
    border-bottom: 5px solid #ffffff;
}

.home-icon {
  font-size: 3em;
  color: rgb(90, 87, 87);
}

.test {
   font-size: 1.5em;
   font-weight: 900px;
   height: 50px;
   transition: 1s;
   color: rgb(90, 87, 87);
}

.test:hover {
    letter-spacing: 1px;
}

.bottom-text {
    letter-spacing: 2px;
    color: rgb(90, 87, 87);
}

a {
   text-decoration: none;
}
